<% content_for :sidebar do %>
  <h5>Placeholder</h5>
<% end %>

<div class="hero-unit">
  <h1><em>Alien</em> Terminal Command Reference</h1>
</div>

<section id="movie_script">
   <div class="page-header">
     <h1>Movie Script <small>commands as actually shown in the movie</small></h1>
   </div>
   <div class="row">
     <div class="span5">
       <h2>Following the script</h2>
       <p>The commands following the script are connected where it makes sense.
       For example, Dallas's query "WHAT ARE MY CHANCES?" only makes sense
       within his "conversation" with the computer.</p>
       <p>This command reference follows the order of the movie. You can run the
       commands however you like, but if you want to act out the movie's
       commands then you'll have to play along with each scene.</p>
     </div>
     <div class="span11">
       <h3>Dallas Queries the Computer</h3>
       <table class="zebra-striped">
         <thead>
           <tr>
             <th style="width: 200px;">Command</th>
             <th>Description</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>WHAT'S THE STORY MOTHER?</td>
             <td>In the movie we never actually see the result of this command.
             I'm assuming that Dallas was given a relevant summary of the
             mission, but not the whole story.</td>
           </tr>
         </tbody>
       </table>
       <h3>Dallas Queries the Computer</h3>
       <table class="zebra-striped">
         <thead>
           <tr>
             <th style="width: 200px;">Command</th>
             <th>Description</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>REQUEST EVALUATION OF CURRENT PROCEDURES TO TERMINATE ALIEN</td>
             <td>The computer gives an unhelpful response.</td>
           </tr>
           <tr>
             <td>REQUEST OPTIONS FOR POSSIBLE PROCEDURE</td>
             <td>The computer gives an unhelpful response.</td>
           </tr>
           <tr>
             <td>WHAT ARE MY CHANCES?</td>
             <td>The computer gives an unhelpful response.<br>(These are more gripping in the movie.)</td>
           </tr>
         </tbody>
       </table>
       <h3>Ripley Queries the Computer</h3>
       <table class="zebra-striped">
         <thead>
           <tr>
             <th style="width: 200px;">Command</th>
             <th>Description</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>REQUEST CLARIFICATION ON SCIENCE INABILITY TO NEUTRALIZE ALIEN</td>
             <td>The computer gives an unhelpful response, but an revealing conversation is started.</td>
           </tr>
           <tr>
             <td>REQUEST ENHANCEMENT</td>
             <td>The plot thickens.</td>
           </tr>
           <tr>
             <td>EMERGENCY COMMAND OVERRIDE 100375</td>
             <td>
               Sets a flag allowing you to query details on special orders.<br>
               The movie used "OVERIDE", so that works here too.
             </td>
           </tr>
           <tr>
            <td>WHAT IS SPECIAL ORDER 937?</td>
            <td>A key plot point is revealed.</td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
</section>

<section id="movie_script">
   <div class="page-header">
     <h1>Fun Things to Try <small>commands that might have actually worked</small></h1>
   </div>
   <div class="row">
     <div class="span5">
       <h2>Play Time</h2>
       <p>Here are some commands that I've added, or added additional parsing to.</p>
       <p>If you have any suggestions for new commands, just email me at sdball@gmail.com</p>
     </div>
     <div class="span11">
       <ul>
        <li>SHIP STATUS</li>
        <li>SHIP NAME</li>
        <li>EMERGENCY COMMAND OVERRIDE (any number but 100375)</li>
        <li>REQUEST ENHANCEMENT (out of script context)</li>
        <li>WHAT ARE MY CHANCES? (out of script context)</li>
       </ul>
     </div>
   </div>
</section>
