<% content_for :hero_unit do %>
  <h1><em>Tron</em> (Alan's Terminal) Command Reference</h1>
  <h2>&gt; service start tron</h2>
<% end %>

<section id="movie_script">
   <div class="page-header">
     <h1>Commands <small>none of these were actually in the movie :-)</small></h1>
   </div>
   <div class="row">
     <div class="span12 offset4">
       <table class="zebra-striped">
         <thead>
           <tr>
             <th style="width: 200px;">Command</th>
             <th>Description</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>
               <strong>service start [service]</strong><br>
               <strong>service stop [service]</strong>
             </td>
             <td>
               <p>Try to start or stop the given service.</p>
               Known services:
               <ul>
                 <li>tron</li>
                 <li>mcp</li>
               </ul>
             </td>
           </tr>
           <tr>
            <td><strong>date</strong></td>
            <td>
              <p>Output the date and time as shown on Alan's terminal at the start of <em>Tron</em></p>
              <p>The terminal has a running clock, so you can run it multiple times and get a different timestamp.</p>
            </td>
           </tr>
           <tr>
            <td><strong>ls</strong></td>
            <td>
              <p>List the files and directories in the current directory/.</p>
            </td>
           </tr>
           <tr>
            <td><strong>cat [filename]</strong></td>
            <td>
              <p>Output the contents of the given file.</p>
            </td>
           </tr>
           <tr>
            <td><strong>pwd</strong></td>
            <td>
              <p>Print out the current directory path.</p>
            </td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
</section>
