/*
 *= require vendor/cli
*/

@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
div#screen {
  width: 940px;
  margin: 80px auto 0px auto;
}
div#display pre, td, th, p, div {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 24px;
  color: #48955e;
}
#inputline, p.command {
  text-transform: uppercase;
  margin-bottom: 1em;
}
span#prompt {
  color: #81c293;
}
.selection_option {
  border-bottom: 3px solid #5fb176;
}
