<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }}{% else %}Home{% endif %} | Movie Terminals</title>
  {% stylesheet site %}
  {% javascript site %}
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a href="." class="brand">Movie Terminals</a>
        <ul class="nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      {{ content }}
    </div> <!-- .content -->
  </div> <!-- .container -->
  {% include clicky.html %}
</body>
</html>
