<% content_for :menu do %>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="#">Movie Terminals</a>
        <ul class="nav">
          <li class="active">
            <%= link_to 'Home', root_url %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/terminal' %>
